<p>Locale: <%= @locale %></p>
<%# Inserting a shared view %>
<%= render(HelloWeb.PageView, "show.html", message: "This is a test message from layout!") %>
<hr/>
<div id="messages" role="log" aria-live="polite"></div>
<input id="chat-input" type="text">
<h6><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h6>