<div class="jumbotron">
  <%# The <%= places the code executed in it, on the html %>
  <h2>Hello World, from <%= @messenger %> to <%= @receiver %>!</h2>
  <%# Using a custom component from Phoenix %>
  <HelloWeb.Weather.country name="USA" />
</div>
